<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>eurovision copyright contest 2019/790</title>
</head>
  <body>
  	
  	<!-- data for the chart/graphic. this provides the MS name, the overall score and (if provided) the special metion for each of the 27 Member States -->
  	
  	<div id="chart">
		<ul>
	{{ range .Pages }}
    		<li id="{{.Title}}"><a href="{{.Permalink}}">{{.Title}}</a>: {{ .Params.score }} {{ if .Params.special }}- {{ .Params.special }}{{end}}</li>
    {{end}}	
   		</ul>
    </div>	
  </body>
</html>
