<div class="summary">
					<h2>2019: 🛩 63380km (-11%) 🚄 8989km (+8%) & 44058+ words</h2>
				</div>
				<div class="entry-weekly">
					<h2>Week 52/2019</h2>
					<p>🎄 📚: <a href="https://www.goodreads.com/book/show/41717507-the-big-nine">The Big Nine: How the Tech Titans and Their Thinking Machines Could Warp Humanity</a>, <a href="https://www.toboggan.eu">Pixeltänzer</a>, <a href="https://www.upress.umn.edu/book-division/books/pattern-discrimination">Pattern Discrimination</a></p>
				</div>
				<div class="entry-weekly">
					<h2>Week 51/2019</h2>
					<ul>
						<li><a href="https://publicspace.online/files/191222making_the_best_out_of_the_CDSM_directive.pdf">Making the best out of the Copyright in the Digital Single Market Directive: An overview of implementation opportunities and risks</a>, <a href="https://www.dielinke-europa.eu/de/article/12563.copyright-implementierung-bis-2021-mehr-als-leistungsschutzrecht-und-uploadfilter.html">Study comissioned by the GUE/NGL group in the European Parliament</a> [12659 words]</li>
						<li>Fourth meeting of the <a href="https://ec.europa.eu/digital-single-market/en/news/fourth-meeting-stakeholder-dialogue-article-17-directive-copyright-digital-single-market">stakeholder dialogue on the application of Article 17 of the Directive on Copyright in the Digital Single Market</a>, representing COMMUNIA [<a href="https://webcast.ec.europa.eu/copyright-stakeholder-dialogues-16-12">video</a>, 402km] </li>
					</ul>
				</div>
				<div class="entry-weekly">
					<h2>Week 50/2019</h2>
					<ul>
						<li><a href="https://digitalfreedomfund.org/competition-law-enforcement-a-tool-for-digital-rights-litigators/">Advancing Digital Rights Through Competition Law</a>, 1,5 day training courtesy of the <a href="https://digitalfreedomfund.org/">Digital Freedom Fund</a> [201km]</li>
					<li>Presentation: <a href="https://docs.google.com/presentation/d/1ErjsNkNVCekGmO3HdT57pyMKEUXC0uXL73jSht6aC84/">Out of Commerce Works portal: High level design considerations</a> at the EUIPO technical meeting on the establishment of the Out-of-commerce Works Portal [201km]</li>
					</ul>
				</div>
				<div class="entry-weekly">
					<h2>Week 49/2019</h2>
					<ul>
						<li>COMMUNIA website: <a href="https://www.communia-association.org/2019/12/03/article-17-stakeholder-dialogue-day-3-filters-not-meet-requirements-directive/">Article 17 stakeholder dialogue (day 3): Filters do not meet the requirements of the directive</a> [893 words]</li>
						<li><a href="https://www.notion.so/communia/Guidelines-for-the-Implementation-of-the-DSM-Directive-45233be9c0e143338860ae5a03118bf3">COMMUNIA Guidelines for the Implementation of the DSM Directive</a>, platform architecture & co-authored the guidelines on <a href="https://www.notion.so/communia/Articles-8-11-Use-of-out-of-commerce-works-b0091ea89dac4cca96fe537293ed22e6">Use of Out of Commerce Works</a>, <a href="https://www.notion.so/communia/Article-14-Works-of-visual-art-in-the-public-domain-eb1d5900a10e4bf4b99d7e91b4649c86">Works of visual art in the public domain</a> and <a href="https://www.notion.so/communia/Article-17-Use-of-copyrighted-content-by-online-platforms-8e9ab9aaa4ce42c2a6f35cb7415b8b83">Use of copyrighted content by online platforms</a> [too many words]</li>
						<li>Shared Digital Europe: <a href="https://shared-digital.eu/uk-labour-party-manifesto-imagines-a-different-digital-space/">UK Labour party manifesto imagines a radically different digital space</a> [448 words]</li>
					</ul>
				</div>
				<div class="entry-weekly">
					<h2>Week 48/2019</h2>
					<ul>
						<li>Europeana 2019: <a href="https://docs.google.com/presentation/d/1AwcGRAAgkc10-jIkPMHF_IpF7hnYNPPF8LROWfgli3E/">Opportunities for digital cultural heritage and the public domain, under the EU Copyright Rules</a> [3728km]</li>
						<li>COMMUNIA strategy meeting [1155km]</li>
						<li>Third meeting of the <a href="https://ec.europa.eu/digital-single-market/en/news/copyright-dialogue-between-platforms-and-rights-holders-starts-15-october">stakeholder dialogue on the application of Article 17 of the Directive on Copyright in the Digital Single Market</a>, representing COMMUNIA [<a href="https://webcast.ec.europa.eu/copyright-stakeholder-dialogue-25-11">video</a>, 402km] </li>
					</ul>
				</div>
				<div class="entry-weekly">
					<h2>Week 47/2019</h2>
					<ul>
						<li><a href="https://www.tilburguniversity.edu/research/institutes-and-research-groups/tilec/events/governing-data-resource">Governing Data as a Resource</a> workshop at Tilburg Institute for Law, Technology, and Society [184km]</li>
					</ul>
				</div>
				<div class="entry-weekly">
					<h2>Week 46/2019</h2>
					<ul>
						<li>COMMUNIA website: <a href="https://www.communia-association.org/2019/11/13/academic-statement-safeguarding-user-freedoms-implementing-article-17/">Academic statement on safeguarding user freedoms in implementing Article 17</a> [502 words]</li>
						<li>COMMUNIA website: <a href="https://www.communia-association.org/2019/11/11/article-17-stakeholder-dialogue-day-2-filters-not-licenses/">Article 17 stakeholder dialogue (day 2): Filters, not licenses!</a> [1285 words]</li>
					</ul>
				</div>
				<div class="entry-weekly">
					<h2>Week 45/2019</h2>
					<ul>
						<li>Second meeting of the <a href="https://ec.europa.eu/digital-single-market/en/news/copyright-dialogue-between-platforms-and-rights-holders-starts-15-october">stakeholder dialogue on the application of Article 17 of the Directive on Copyright in the Digital Single Market</a>, representing COMMUNIA [<a href="https://webcast.ec.europa.eu/copyright-stakeholder-dialogues-05-11-2019">video</a>, 402km] </li>
					</ul>
				</div>
				<div class="entry-weekly">
					<h2>Week 44/2019</h2>
					<ul>
						<li>A series of conversations on the future of open at <a href="https://cyber.harvard.edu">Harvard Law School</a> and <a href="https://www.wcl.american.edu/impact/initiatives-programs/pijip/">American University</a> [12380km]</li>
					</ul>
				</div>
				<div class="entry-weekly">
					<h2>Week 43/2019</h2>
					<ul>
						<li>COMMUNIA website: <a href="https://www.communia-association.org/2019/10/23/article-17-stakeholder-dialogue-day-1-old-old/">Article 17 stakeholder dialogue (day 1): Same old, same old</a> [2195 words]</li>
						<li><a href="https://www.mozillafestival.org/en/">Mozfest 2019</a> and "Searching for new regulatory paradigm for online platforms" strategy meeting. [🛩 357km 🚄 581km]</li>
					</ul>
				</div>
				<div class="entry-weekly">	
					<h2>Week 42/2019</h2>
					<ul> 
						<li><a href="https://www.wipo.int/meetings/en/2019/international_conference_copyright.html">WIPO Conference on Copyright Limitations and Exceptions for Libraries, Archives, Museums and Educational & Research Institutions</a>, representing Europeana on the Archives Panel [1384km]</li>
						<li>First meeting of the <a href="https://ec.europa.eu/digital-single-market/en/news/copyright-dialogue-between-platforms-and-rights-holders-starts-15-october">stakeholder dialogue on the application of Article 17 of the Directive on Copyright in the Digital Single Market</a>, representing COMMUNIA [<a href="https://webcast.ec.europa.eu/copyright-stakeholder-dialogues">video</a>, 402km] </li>
					<li>COMMUNIA 2019 planning meeting at <a href="https://centrumcyfrowe.pl">Centrum Cyfrowe</a> [2188km]</li>				
					</ul>
				</div>
				<div class="entry-weekly">
					<h2>Week 41/2019</h2>
					<ul>
						<li>COMMUNIA website: <a href="https://www.communia-association.org/2019/10/08/article-17-stakeholder-dialogue-well-continue-advocate-safeguarding-user-rights/">Article 17 Stakeholder Dialogue: We’ll Continue to Advocate for Safeguarding User Rights</a> [1164 words]</li>
						<li>Shared Digital Europe: <a href="https://shared-digital.eu/digital-services-act-lets-talk-about-objective-and-values/">Digital Services Act: Lets talk about objective and values before retreating into the trenches</a> [753 words]</li>
					</ul>
				</div>
				<div class="entry-weekly">
					<h2>Week 40/2019</h2>
					<ul>
						<li>Medium: <a href="https://medium.com/@paul_keller/towards-an-auto-generative-public-domain-af2b05dd99a8">Towards an auto-generative Public Domain?</a> [856 words]</li>
						<li>CSO conversation on EU digital priorities [402km]</li>
					</ul>
				</div>
				<div class="entry-weekly">
					<h2>Week 39/2019</h2>
					<ul>
						<li>Europeana Foundation Governing Board meeting [882km]</li>
					</ul>
				</div>
				<div class="entry-weekly">
					<h2>Week 38/2019</h2>
					<ul>
						<li>Exchange of view with the European Commission on the Architecture of the Out of Commerce Portal [402km]</li>
						<li>FEPS/SAMAK workshop: Taking Charge of Europe’s Digital Future – The Progressive Narrative [2251km] </li>
					</ul>
				</div>
				<div class="entry-weekly">
				<h2>Week 37/2019</h2>
					<ul>
						<li>iRights.info: <a href="https://irights.info/artikel/was-bedeutet-die-eu-urheberrechtsrichtlinie-fuer-die-europaeischen-kulturerbe-institutionen/29679">Was bedeutet die EU-Urheberrechtsrichtlinie für die europäischen Kulturerbe-Institutionen?</a> [2529 words]</li>
					</ul>
				</div>
				<div class="entry-weekly">
					<h2>Week 36/2019</h2>
					<ul>
						<li><a href="https://ndlproject.iitkgp.ac.in/events/rights-statements-workshop">National Workshop on "Adoption of Rights Statements for Digital Libraries in India"</a> at the Rajiv Gandhi School of Intellectual Property Law, IIT Kharagpur [15324km] </li>
						<li>Shared Digital Europe: <a href="https://shared-digital.eu/europes-digital-leadership-package-lacks-a-sense-of-mission/">Europe’s Digital Leadership Package lacks a sense of mission</a> [939 words]</li>
					</ul>
				</div>
				<div class="entry-weekly">
					<h2>Week 35/2019</h2>
					<ul>
						<li>Academic Workshop on User Rights and Safeguards in Article 17 of the Copyright in the Digital Single Market Directive</li>
					</ul>
				</div>
				<div class="entry-weekly">
					<h2>Weeks 31-34/2019</h2>
					<p>🏝 📚: <a href="https://www.worldcat.org/title/future-politics-living-together-in-a-world-transformed-by-tech/oclc/1017978409">Future Politics: Living Together in a World Transformed by Tech</a>, <a href="https://www.worldcat.org/title/national-populism-the-revolt-against-liberal-democracy/oclc/1028525914">National Populism: The Revolt Against Liberal Democracy</a>, <a href="https://www.livredepoche.com/livre/grand-frere-9782253074366">Grand frère</a>, <a href="https://www.debezigebij.nl/boeken/een-kamer-in-oostende/">Een kamer in Oostende</a>, <a href="https://www.casterman.com/Bande-dessinee/Catalogue/albums-bug/bug-2">BUG (livre 2)</a>, <a href="https://openrevolution.net">The Open Revolution: New rules for a new world</a></p>
				</div>
				<div class="entry-weekly">
					<h2>Week 30/2019</h2>
					<ul>
						<li>"Maak de regelingen zo werkbaar mogelijk" Interview in <a href="https://fotogenootschap.nl/?page_id=53">Fotografisch Geheugen no.98</a> [1689 words]</li>
					</ul>
				</div>
				<div class="entry-weekly">
					<h2>Week 28/2019</h2>
					<ul>
						<li>Werkgroep Auteursrecht Nederlandse Erfgoedinstellingen: <a href="https://docs.google.com/presentation/d/12SWtBqFA6DFh1KwWja6oxlLWNy2mFkYjZKTSSlDYU8o/edit?usp=sharing">Artikel 10 Stakeholder overleg</a></li>
					</ul>
				</div>
				<div class="entry-weekly">
					<h2>Week 27/2019</h2>
					<ul>
						<li>Glushko & Samuelson Information Law and Policy Lab Advisory Council meeting [8km]</li>
					</ul>
				</div>
				<div class="entry-weekly">
					<h2>Week 26/2019</h2>
					<ul>
						<li><a href="https://www.delex.nl/shop/opleidingen/ie-zomerforum-27-juni-2019">IE zomerforum 2019</a>: Praktische gevolgen van het online beschikbaar maken van out-of-commerce werken door instellingen van cultureel erfgoed [5km]</li>
						<li>COMMUNIA website: <a href="https://www.communia-association.org/2019/06/25/implementing-copyright-directive-protecting-public-domain-article-14/">Implementing the Copyright Directive: Protecting the Public Domain with Article 14</a> [1032 words]</li> 
					</ul>
				</div>
				<div class="entry-weekly">
					<h2>Week 25/2019</h2>
					<ul>
						<li>Heise online: <a href="https://www.heise.de/newsticker/meldung/EuroDIG-Debatte-Vernichtende-Kritik-an-EU-Urheberrechtsrichtline-4453040.html">EuroDIG-Debatte: Vernichtende Kritik an EU-Urheberrechtsrichtline</a> [76 words]</li>
						<li><em>Working with the Europeana Licensing Framework</em> presentation for the Europeana tech team [102km]</li>
						<li><a href="https://eurodigwiki.org/wiki/The_European_Copyright_Reform_–_what_just_happened,_what’s_next,_and_what_does_it_mean_for_the_Internet%3F_–_PL_06_2019">European Dialoge on Internet Governance</a>: <a herf="https://docs.google.com/presentation/d/1SKhwmt9Wrre4g2HPjjkcM0cH_JCbx-QMR6V_OBuSkok/edit#slide=id.g4b0eaf441d_3_50">EU copyright reform, the good the bad and the ugly</a> [102km] [<a href="https://www.heise.de/newsticker/meldung/EuroDIG-Debatte-Vernichtende-Kritik-an-EU-Urheberrechtsrichtline-4453040.html">Heise Online article</a> (in German)]</li> 
					</ul>
				</div>
				<div class="entry-weekly">
					<h2>Week 24/2019</h2>
					<ul>
						<li><a herf="https://www.feps-europe.eu/attachments/events/call%20to%20europe%2006-2019%20programme%20a5%20-%2013-06_final.pdf">Call to Europe VIII time for progress!</a> Civil Society representative in the <em>Time for a fair Digital Future!</em> session.</li>
						<li><a href="http://copyrightblog.kluweriplaw.com/2019/06/12/european-copyright-roundtables-implementing-the-digital-single-market-directive/">European Copyright Roundtables: Implementing the Digital Single Market Directive</a> - contributed to the panel on over-blocking [<a href="https://youtu.be/hxN9ZO-KIEs?t=22245">video</a>]</li> 
						<li>Europeana Symposium on the new EU Copyright Rules: <a href="https://docs.google.com/presentation/d/1ik6Gwg858xH7BBaJUJ_TsN-LR_-mXRyG1MW3gRBCm3I/edit#slide=id.p">DSM directive: new rules for providing access to Out of Commerce Works</a> [402km]</li>
						<li>COMMUNIA website: <a href="https://www.communia-association.org/2019/06/13/canadian-copyright-report-lets-wait-see-upload-filters-press-publishers-rights-will-fail/">Canadian copyright report: Let’s wait and see how upload filters and press publishers rights will fail.</a> [1129 words]</li>
					</ul>
				</div>
				<div class="entry-weekly">
					<h2>Week 23/2019</h2>
					<ul>
						<li>Europeana pro: <a href="https://pro.europeana.eu/post/explainer-what-will-the-new-eu-copyright-rules-change-for-europe-s-cultural-heritage-institutions">Explainer: What will the new EU copyright rules change for Europe's Cultural Heritage Institutions</a> [2752 words]</li>
					</ul>
				</div>
				<div class="entry-weekly">
					<h2>Week 22/2019</h2>
					<ul>
						<li>COMMUNIA copyright directive implementation strategy meeting [402km] </li>
						<li>New position: research fellow at the <a href="https://www.ivir.nl">Institute for Information law</a> of the University of Amsterdam</li>
					</ul>
				</div>
				<div class="entry-weekly">
					<h2>Week 21/2019</h2>
					<ul>
						<li>Vereniging voor Auteursrecht: <a href="https://docs.google.com/presentation/d/1gjrpraBRG5843UqqwDEecRS5J04p91m0pZ46y223Wos?">Artikel 17 DSM richtlijn</a> [7km]</li>
						<li>New role: Member of the Advisory Council of the new <a href="https://ilplab.nl/">Glushko & Samuelson Information Law and Policy Lab</a> at the Institute for Information Law</li>
					</ul>
				</div>
				<div class="entry-weekly">
					<h2>Week 20/2019</h2>
					<ul>
						<li><a href="https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CELEX%3A32019L0790">Directive (EU) 2019/790 of the European Parliament and of the Council of 17 April 2019 on copyright and related rights in the Digital Single Market and amending Directives 96/9/EC and 2001/29/EC</a> [+69 words (<a href="https://github.com/paul2keller/DSM-directive-cultural-heritage/blob/master/art5.md">Public Domain Clause</a>) +231 words (<a href="https://github.com/paul2keller/DSM-directive-cultural-heritage/blob/master/art7-9.md">OOCW fallback exception</a>)]
						<li>Europeana Office Hitchcock session: <em>Europeana and the EU copyright reform - How we learned to work with the other side</em> [102km]</li>
					</ul>
				</div>
				<div class="entry-weekly">
					<h2>Week 19/2019</h2>
					<ul>
						<li>Creative Commons Global Summit 2019 in Lisbon [3728km]</li>
						<li><a href="https://ccglobalsummit2019lisbonportugal.sched.com/event/MjHm/the-european-copyright-directive-past-present-future">The European Copyright Directive: Past, Present, Future</a> session: <a href="https://docs.google.com/presentation/d/1y6qoZ-66H5TKreZXFmOiAiTSlUEmknNFjidbCGmeC3c/">EU copyright reform - the good, the bad and the ugly</a> presentation</li>
						<li><a href="https://ccglobalsummit2019lisbonportugal.sched.com/event/MhLS/the-state-of-copyright-filtering">The state of copyright filters</a> session: <a href="https://docs.google.com/presentation/d/1K8N6G01DuSNgbCWLNK6m1Mv4hLH9Mmvz92AxUeDvmZs/">Article 17 of the Copyright in the DSM Directive</a> presentation</li>
						<li><a href="https://ccglobalsummit2019lisbonportugal.sched.com/event/MiXC/public-domain-awareness-project-enhancing-use-of-ccs-public-domain-tools-for-glam-institutions-and-re-users-part-1-challenges-to-supporting-a-robust-public-domain-in-a-complicated-ecosystem">Public Domain Awareness Project</a>: <a href="https://docs.google.com/presentation/d/1iYTW8fmgbbyKlgKFeh4JIEuuMxco076lYfyvigAjftM/">Rightsstatements.org jurisdiction specific Public Domain statements</a> presentation</li>
					</ul>
				</div>
				<div class="entry-weekly">
					<h2>Week 18/2019</h2>
					<ul>
						<li><a href="https://github.com/paul2keller/DSM-directive-art13">GitHub repository containing all versions of Article 13 of the DSM directive that were discussed during the entire legislative process (September 2016 to March 2019)</a> [29 versions]</li>
						<li><a href="https://github.com/paul2keller/DSM-directive-cultural-heritage">GitHub repository containing all versions of the cultural heritage articles in the DSM directive that were discussed during the entire legislative process (September 2016 to March 2019)</a> [33 versions]</li>
					</ul>
				</div>
				<div class="entry-weekly">
					<h2>Week 17/2019</h2>
					<p>🏝</p>
				</div>
				<div class="entry-weekly">
					<h2>Week 16/2019</h2>
					<ul>						
						<li>COMMUNIA website: <a href="https://www.communia-association.org/2019/04/19/dsm-directive-adopted-implementation-member-states-can-still-make-difference/">DSM directive adopted – implementation in Member States can still make a difference</a></li>
					</ul>
				</div>
				<div class="entry-weekly">
					<h2>Week 15/2019</h2>
					<ul>
						<li>🏃‍♂️[<a href="https://resultscui.active.com/participants/37925562">42km</a>]</li>
						<li><a href="https://shared-digital.eu/vision/">A Vision for a Shared Digital Europe</a> [5835 words]</li>
						<li>Presentation <a href="https://docs.google.com/presentation/d/132lgS6oNanPuXQohY09g0v8Ehws9dAazj6m71sm0Oe8/">DSM richtlijn: Maatregelen om licentiëring en toegang te verbeteren (Art. 8 - 14)</a> at the DeLex DSM directive lunch event.</li>  
					</ul>	
				</div>
				<div class="entry-weekly">
					<h2>Week 14/2019</h2>
					<ul>
						<li><a href="https://docs.google.com/presentation/d/1W_o4izeA6wMM3ERjmEm-oFFTdFW0NF2Nv2LFMrWisno/edit?usp=sharing">A Vision for a Shared Digital Europe presentation</a> at the <a href="httpw://publicspaces.net">publicspaces.net</a> European coalition meeting at <a href="https://strp.nl">STRP festival</a> [230km]</li>
					</ul>	
				</div>
				<div class="entry-weekly">
					<h2>Week 13/2019</h2>
					<ul>
						<li>Europeana pro: <a href="https://pro.europeana.eu/post/copyright-reform-passed-by-european-parliament">European Parliament adopts the copyright directive: A boost for Europe's cultural heritage institutions</a> [752 words]</li>
						<li>European Parliament vote on the <em>Copyright in the Digital Single Market directive</em> [1904km]</li>
						<li>COMMUNIA website: <a href="https://www.communia-association.org/2019/03/25/say-yes-copyright-no-article-13/">Say YES to copyright and NO to Article 13</a> [369 words]</li>
					</ul>	
				</div>
				<div class="entry-weekly">
					<h2>Week 12/2019</h2>
					<ul>
						<li>30 years of the Web: where do we go next? [402km]</li>
						<li>COMMUNIA website: <a href="https://www.communia-association.org/2019/03/22/reminder-making-platforms-pay-creators-doesnt-require-upload-filters/">Reminder: making platforms pay creators doesn’t require upload filters</a> [1120 words]</li>
						<li>Rightsstatements.org anual steering committee meeting [204km]</li>
						<li>Europeana Copyright Community newsletter: <a href="https://mailchi.mp/e2a3ea31a9d0/issue-3-apply-to-join-the-members-council-and-help-drive-our-community-forward-lots-more-interesting-articles-519033">Copyright reform: before the final vote</a> [722 words]</li>
						<li><a href="https://pro.europeana.eu/post/we-have-updated-the-data-exchange-agreement">Update</a> of the <a href="https://github.com/europeana/EuropeanaLicensingFramework/blob/master/dea.md">Europeana Data Exchange Agreement</a> [-14 words]</li>
					</ul>		
				</div>
				<div class="entry-weekly">
					<h2>Week 11/2019</h2>
					<ul>
						<li><em>A Vision for a Shared Digital Europe</em> presentation at BEUC/OSEPI workshop on "A Human-Centric Roadmap for Digital Europe"[402km]</li>
					</ul>
				</div>
				<div class="entry-weekly">
					<h2>Week 10/2019</h2>
					<ul>
						<li>COMMUNIA post-reform strategy meeting [402km]</li>
						<li><a href="https://www.communia-association.org/2019/03/05/final-x-ray-article-13-dangerous-legislative-wishful-thinking/">Analysis of the final compromise language of Art.13 of the proposed Directive on Copyright in the Digital Single Market</a> [1734 words]</li>
						<li><em>Europeana Copyright Advocacy update</em> presentation at the Europeana Foundation Governing Board meeting [102km]</li>
					</ul>
				</div>
				<div class="entry-weekly">
					<h2>Week 09/2019</h2>
					<ul>
						<li>Europeana Foundation comments on the <a href="https://euipo.europa.eu/ohimportal/en/news/-/action/view/4888188">EUIPO 2025 strategic plan consultation</a> [555 words]</li>
					</ul>
				</div>
				<div class="entry-weekly">
					<h2>Week 08/2019</h2>
					<ul>
						<li>Updated <a href="https://reform.communia-association.org">Internet is for the people</a> to reflect final Copyright Directive trilogue outcome</li>
						<li>Europeana Network Association Management Board handover meeting [72km]</li>
						<li>New <a href="#">website</a></li>
						<li><em>A Vision for a Shared Digital Europe</em> presentation at the Europeana Foundation Governance Board <em>Changing Landscapes Working Group</em> meeting [102km]</li>
					</ul>
				</div>
				<div class="entry-weekly">
					<h2>Week 07/2019</h2>
					<ul>
						<li>Europeana pro: "<a href="https://pro.europeana.eu/post/europe-is-one-step-closer-to-better-copyright-rules-for-cultural-heritage-institutions">Europe is one step closer to better copyright rules for cultural heritage institutions</a>" [478 words]</li>
						<li>NRC Handelsblad: "<a href="https://www.nrc.nl/nieuws/2019/02/14/harde-kritiek-op-vernieuwd-europees-copyright-a3654108">Harde kritiek op vernieuwd Europees copyright</a>" [107 words]</li>
						<li><a href="https://twitter.com/communia_eu/status/1095330495355805696">Flowchart</a> illustrating the complexity of Article 13 of the proposed EU copyright directive.</li>
					</ul>
				</div>
				<div class="entry-weekly">
					<h2>Week 06/2019</h2>
					<ul>
						<li>COMMUNIA website: "<a href="https://www.communia-association.org/2019/02/08/time-stop-hijacking-copyright-bolster-economic-interests-specific-sectors/">Time to stop hijacking copyright to bolster the economic interests of specific sectors</a>" [1199 words]</li>
						<li>COMMUNIA 2019 planning meeting at <a href="https://centrumcyfrowe.pl">Centrum Cyfrowe</a> [2188km]</li> 
						<li>Back on the Keizersgracht : <a href="https://www.google.com/maps/place/Keizersgracht+102,+1015+CV+Amsterdam/@52.3772155,4.8867673,20z/data=!4m5!3m4!1s0x47c609c58694cc2f:0x6534dc9e73a68ff8!8m2!3d52.3773956!4d4.886833?hl=en&shorturl=1">New office</a>, shared with <a href="http://www.commonsnetwork.org">Commons Network</a> in the attic of <a href="https://www.rodehoed.nl">de Rode Hoed</a>.</li>
					</ul>
				</div>
				<div class="entry-weekly">
					<h2>Week 05/2019</h2>
					<p>🏝</p>
				</div>
				<div class="entry-weekly">
					<h2>Week 04/2019</h2>
					<ul>
						<li>Re-launch of the 2010 <a href="https://publicdomainmanifesto.org">Public Domain Manifesto</a> at the <a href="https://creativecommons.org/2018/12/05/join-us-for-a-grand-re-opening-of-the-public-domain/">Grand Reopening of the Public Domain</a> at the <a href="https://www.archive.org">Internet Archive</a> [17544km]</li>
					</ul>	
				</div>

				<div class="entry-newyear">
					<h2>Week 03/2019</h2>
					<ul>
						<li>Launch of "<a href="https://reform.communia-association.org">Internet is for the people</a>" minisite analysing the overall impact of the EU copyright reform package from the perspective of EU users. 						<li><a href="mailto:hello@publicspace.onlie">hello@publicspace.online</a> [kvk: 73684848]</li>
					</ul>
				</div>