				<div class="summary">
					<h2>2020: 🛩 0km (-100%) 🚄 6151km (-32%) 🚘 836km & 71398+ words</h2>
				</div>
				<div class="entry-weekly">
					<h2>Week 53/2020</h2>
					<ul>
<li>Epicenter.works, COMMUNIA and SaveTheInternet Austria: <a href="https://epicenter.works/document/3059">Stellungnahme zur Urheberrechts-Novelle 2021 in der vorab Begutachtung</a> [+20 words]</li>
</ul>
<p>🎄 📚: <a href="http://goodbadstrategy.com">Good Strategy / Bad Strategy</a>, <a href="https://us.macmillan.com/books/9781250757531">Attack Surface</a></p>

				</div>
				
				<div class="entry-weekly">
					<h2>Week 52/2020</h2>
					<ul>
<li>Kluwer Copyright Blog: <a href="http://copyrightblog.kluweriplaw.com/2020/12/23/finnish-article-17-implementation-proposal-prohibits-the-use-of-automated-upload-filters/">Finnish Article 17 implementation proposal prohibits the use of automated upload filters</a> [1615 words]</li>
</ul>

				</div>
				
				<div class="entry-weekly">
					<h2>Week 51/2020</h2>
					<ul>
<li>COMMUNIA website: <a href="https://www.communia-association.org/2020/12/14/austrian-article-17-proposal-high-road-towards-implementation/">Austrian Article 17 proposal: The high road towards implementation?</a> [1424 words]</li>
<li>Shared Digital Europe: <a href="https://shared-digital.eu/interoperability-with-a-purpose/">Interoperability with a Purpose</a> [1195 words]</li>
<li>Shared Digital Europe: <a href="https://shared-digital.eu/mandated-and-generative-interoperability/">Mandated and generative interoperability</a> joint paper with Alek Tarkowski and Bartosz Paszcza [7766 words]</li>
<li>First meetup of the newly constituted <a href="https://pro.europeana.eu/about-us/foundation#advisory-board">Europeana Advisory Board</a> [0km]</li>
</ul>

				</div>
				
				<div class="entry-weekly">
					<h2>Week 50/2020</h2>
					<ul>
<li>COMMUNIA:<a href="https://www.communia-association.org/2020/12/07/dsm-directive-implementation-update-six-months-go-no-end-sight/">DSM directive implementation update: six months to go and no end in sight</a> [1425 words]</li>
</ul>

				</div>
				
				<div class="entry-weekly">
					<h2>Week 49/2020</h2>
					<ul>
<li>eu-copyright-implementation.info: <a href="https://eu-copyright-implementation.info/stellungnahmen-umsetzungsdebatte/implementierungs-update-zur-dsm-richtlinie-sechs-monate-vor-uns-und-kein-licht-am-ende-des-tunnels/">Implementierungs-Update zur DSM-Richtlinie: Sechs Monate vor uns und kein Licht am Ende des Tunnels</a> [1289 words]</li>
<li>Europeana webinar: <a href="https://docs.google.com/presentation/d/1U0dK6jLfWppqcfjNbCVoqem5Uw-2srqBzF1JamVmmak/edit#slide=id.ga08a9c034d_0_0">The copyright directive: new approaches to the public domain and to out of commerce works</a> [0km]</li>
</ul>

				</div>
				
				<div class="entry-weekly">
					<h2>Week 48/2020</h2>
					<ul>
<li><a href="https://copyrightexceptions.eu/">Copyrightexceptions.eu</a>: Version 2.0 feature complete prototype [<a href="https://github.com/copyrightexceptions/copyrightexceptions.eu/tree/development-mz">code</a>]</li>
<li><a href="/media/201126model-comparison.png">Flowchart</a> analysing a mechanism proposed in the debate on the German implementation of Article 17 [269 words]</li>
</ul>

				</div>
				
				<div class="entry-weekly">
					<h2>Week 47/2020</h2>
					<ul>
<li><a href="https://www.tweedekamer.nl/kamerstukken/wetsvoorstellen/detail?id=2020Z08336&amp;dossier=35454">Implementatiewet richtlijn auteursrecht in de digitale eengemaakte markt</a> [<a href="https://www.tweedekamer.nl/downloads/document?id=ebf88c73-4480-49a9-a338-3a049eea2696&amp;title=Nota%20van%20wijziging.pdf">+63 words</a>]</li>
</ul>

				</div>
				
				<div class="entry-weekly">
					<h2>Week 46/2020</h2>
					<ul>
<li>COMMUNIA: <a href="https://www.communia-association.org/wp-content/uploads/2020/11/201109Communia-Submissio-DE-Consultation-Ref-E.pdf">Opinion on the the Referentenentwurf des Gesetzes zur Anpassung des Urheberrechts an die Erfordernisse des digitalen Binnenmarktes</a> [2050 words]</li>
<li><a href="http://curia.europa.eu/juris/fiche.jsf?id=C%3B401%3B19%3BRD%3B1%3BP%3B1%3BC2019%2F0401%2FP&amp;oqp=&amp;for=&amp;mat=or&amp;lgrec=en&amp;jge=&amp;td=%3BALL&amp;jur=C%2CT%2CF&amp;num=C-401%252F19&amp;dates=&amp;pcs=Oor&amp;lg=&amp;pro=&amp;nat=or&amp;cit=none%252CC%252CCJ%252CR%252C2008E%252C%252C%252C%252C%252C%252C%252C%252C%252C%252Ctrue%252Cfalse%252Cfalse&amp;language=en&amp;avg=&amp;cid=15498800">C-401/19</a> Republic of Poland vs the European Parliament and the Council of the European Union [🚘 836 km] [<a href="https://www.notion.so/communia/CJEU-hearing-notes-C-401-19-29bd4a0fcdd442a3b49d87c9163b55f3">6348 words</a>]</li>
<li>Kluwer Copyright Blog: <a href="http://copyrightblog.kluweriplaw.com/2020/11/11/cjeu-hearing-in-the-polish-challenge-to-article-17-not-even-the-supporters-of-the-provision-agree-on-how-it-should-work/">CJEU hearing in the Polish challenge to Article 17: Not even the supporters of the provision agree on how it should work</a> [2089 words]</li>
</ul>

				</div>
				
				<div class="entry-weekly">
					<h2>Week 45/2020</h2>
					<ul>
<li>Article 17 stakeholder dialogue: Users' rights organisations x Copyright Unit conference call [0km]</li>
<li>Internet Governance Forum 2020: <a href="http://www.intgovforum.org/multilingual/content/igf-2020-pre-event-73-shared-digital-%E2%80%93-how-to-build-a-public-civic-online-ecosystem">Shared Digital Europe – how to build a Public Civic Online Ecosystem</a> [<a href="https://www.youtube.com/watch?v=PTUPwooWuF4">video</a>] [0km]</li>
</ul>

				</div>
				
				<div class="entry-weekly">
					<h2>Week 44/2020</h2>
					<ul>
<li>Reclaiming Digital Infrastructure for the Public Interest (Session 2): <a href="https://pacscenter.stanford.edu/event/digital-public-infrastructure-a-corporation-for-public-software/">Digital Public Infrastructure: A Corporation for Public Software</a> [0km]</li>
<li><a href="/longform/2020-10-27/">Comparison of mechanisms proposed for the practical application of Article 17(4) in compliance with Article 17(7)</a> [1549 words]</li>
<li>European PublicSpaces Summit [0km]</li>
</ul>

				</div>
				
				<div class="entry-weekly">
					<h2>Week 43/2020</h2>
					<ul>
<li>🔓➡️🍾 [23-10-2020]</li>
<li><a href="https://ilplab.nl">Glushko &amp; Samuelson Information Law and Policy Lab</a>: Advisory council meeting [0km]</li>
<li>Creative Commons Global Summit: Various sessions including a presentation during the <a href="https://ccglobalsummit2020virtual.sched.com/event/345b461765861c580502e5f265bd1561">Roundtable of the Copyright reform platform</a> [0 km]</li>
<li>Reclaiming Digital Infrastructure for the Public Interest (Session 1): <a href="https://pacscenter.stanford.edu/event/digital-public-infrastructural-possibilities/">Digital Public Infrastructural Possibilities</a> [0 km]</li>
</ul>

				</div>
				
				<div class="entry-weekly">
					<h2>Week 42/2020</h2>
					<ul>
<li>new.new planning meeting [1433km]</li>
<li>COMMUNIA website: <a href="https://www.communia-association.org/2020/10/13/taming-upload-filters-pre-flagging-vs-match-flag/">Taming the upload filters: Pre-flagging vs. match and flag</a> [1836 words]</li>
</ul>

				</div>
				
				<div class="entry-weekly">
					<h2>Week 41/2020</h2>
					<ul>
<li>COMMUNIA website: <a href="https://www.communia-association.org/2020/10/08/implementation-update-french-parliament-gives-carte-blanche-netherlands-correct-course/">Implementation update: French Parliament gives carte blanche, while the Netherlands correct course.</a> [834 words]</li>
<li><a href="https://pro.europeana.eu/event/europeana-web-conference-under-the-german-presidency-2020">Europeana web conference under the German Presidency 2020 on &lsquo;The role of copyright in the digital transformation of the cultural heritage sector&rsquo;</a> - Roundtable on the <a href="https://docs.google.com/presentation/d/1GYuDS0Z5ne9VBFXQygqbHIWZDv7ZUK2q9cubwRrz9iQ/edit?usp=sharing">Past, present and future of copyright &amp; digital transformation</a> - opportunities in the copyright in the Digital Single Market Directive [0km]</li>
</ul>

				</div>
				
				<div class="entry-weekly">
					<h2>Week 40/2020</h2>
					<ul>
<li>COMMUNIA website: <a href="https://www.communia-association.org/2020/10/02/article-17-guidance-dont-shoot-messenger-ne-pas-tirer-sur-le-messager/">Article 17 guidance: Don’t shoot the messenger / ne pas tirer sur le messager!</a> [1775 words]</li>
<li>Europeana Foundation Board meeting [0km]</li>
<li>Porticus Digital Humanism Lab [0km]</li>
</ul>

				</div>
				
				<div class="entry-weekly">
					<h2>Week 39/2020</h2>
					<ul>
<li><a href="https://www.communia-association.org/wp-content/uploads/2020/10/200925communia_ow_survey_response.pdf">COMMUNIA response on the Survey on the Application of the Orphan Works Directive</a> [1000 words]</li>
<li>Hyperlinking reading club: AG Szpunar’s opinion in Case C‑392/19 VG Bild-Kunst v Stiftung Preußischer Kulturbesitz [0km]</li>
</ul>

				</div>
				
				<div class="entry-weekly">
					<h2>Week 38/2020</h2>
					<ul>
<li><a href="https://www.communia-association.org/wp-content/uploads/2020/09/Civil_society_letter_Art17_consultation.pdf">Civil Society letter on the Article 17 implementation guidance to Commissioner Thierry Breton</a> [904 words]</li>
<li>COMMUNIA website: <a href="https://www.communia-association.org/2020/09/14/civil-society-letter-article-17-implementation-guidance/">Civil Society letter on the Article 17 implementation guidance</a> [300 words]</li>
<li><a href="https://www.communia-association.org/wp-content/uploads/2020/09/Communia-Response-to-consultation-on-digital-technologies-and-culture-heritage-sector.pdf">Communia response to the Commission consultation on digital technologies and the cultural heritage sector</a> [+903 words]</li>
<li>COMMUNIA Salon 2020/4 - Which digital policies work for cultural heritage in 2020s? - <a href="/files/200917communia_salon_heritage.pdf">Presentation on cultural heritage copyright policy advocacy</a> [0km]</li>
</ul>

				</div>
				
				<div class="entry-weekly">
					<h2>Week 37/2020</h2>
					<ul>
<li>COMMUNIA website: <a href="https://www.communia-association.org/2020/09/11/step-right-direction-response-targeted-consultation-article-17-guidance/">A step in the right direction: Our response to the targeted consultation on the Article 17 guidance</a> [1064 words]</li>
<li><a href="/coolornot/">Is it cool or not?</a> - An attempt to understand AG Szpunar&rsquo;s reasoning on the legality of hyperlinks [112 words, 1 hyperlink and 1 iframe]</li>
<li><a href="https://www.communia-association.org/wp-content/uploads/2020/09/200910COMMUNIA_guidelines_consultation_respone.pdf">COMMUNIA response</a> to the Targeted consultation addressed to the participants to the stakeholder dialogue on Article 17 of the Directive on Copyright in the Digital Single Market [3905 words]</li>
</ul>

				</div>
				
				<div class="entry-weekly">
					<h2>Week 36/2020</h2>
					<ul>
<li>COMMUNIA website: <a href="https://www.communia-association.org/2020/09/02/commission-consultation-article-17-guidance-user-rights-must-protected-upload/">Commission consultation on Article 17 guidance: User rights must be protected at upload</a> [1929 words]</li>
<li>Rightsstatements.org Steering Committee meeting [0km]</li>
</ul>

				</div>
				
				<div class="entry-weekly">
					<h2>Week 35/2020</h2>
					<ul>
<li>Europeana Foundation Board meeting [0km]</li>
<li>Advies: Juridisch Raamwerk Archieven Design en Digitale Cultuur voor de werkgroep Infrastructuur ADDC [917 words]</li>
</ul>

				</div>
				
				<div class="entry-weekly">
					<h2>Week 33/2020</h2>
					<ul>
<li><a href="https://ec.europa.eu/info/law/better-regulation/have-your-say/initiatives/12510-Intellectual-property-action-plan/F543457">COMMUNIA comments on the European Commission&rsquo;s Intellectual property action plan roadmap consultation</a> [1044 words]</li>
<li><a href="https://www.communia-association.org/wp-content/uploads/2020/08/200810art17guidance.png">Flowchart analysing the user rights safeguards</a> outlined by the European Commission in its <a href="https://ec.europa.eu/eusurvey/runner/4fd43123-6008-a214-f572-4ecd331b9e0e">targeted consultation on the Article 17 implementation guidelines</a> [73 words]</li>
</ul>

				</div>
				
				<div class="entry-weekly">
					<h2>Week 34/2020</h2>
					<ul>
<li>Article 17 Stakeholder dialogue - Civil Society Strategy meeting [0km]</li>
</ul>

				</div>
				
				<div class="entry-weekly">
					<h2>Week 32/2020</h2>
					<ul>
<li>Open Future Sessions #5 (invitation-only series of conversations about the role of open under the conditions of the current crisis and the future of open in a post crisis world) [0km]</li>
</ul>

				</div>
				
				<div class="entry-weekly">
					<h2>Weeks 30-31/2020</h2>
					<p>🏖📚</p>

				</div>
				
				<div class="entry-weekly">
					<h2>Week 29/2020</h2>
					<ul>
<li>new.new (working title) planning &amp; strategy meeting [2402km]</li>
<li>&ldquo;<a href="https://docs.google.com/document/d/159welIwqN6AuyReqMQ9K0XfNh75MF0p8QiNKJJHNVPo/edit">Rightsstatements.org 2.0 - towards a smaller suite of rights statements?</a>&rdquo; discussion paper for the rightsstatements.org statements working group [1812 words]</li>
</ul>

				</div>
				
				<div class="entry-weekly">
					<h2>Week 28/2020</h2>
					<ul>
<li>Open Future Sessions #4 (invitation-only series of conversations about the role of open under the conditions of the current crisis and the future of open in a post crisis world) [0km]</li>
</ul>

				</div>
				
				<div class="entry-weekly">
					<h2>Week 27/2020</h2>
					<ul>
<li><a href="https://ec.europa.eu/info/law/better-regulation/have-your-say/initiatives/12416-New-competition-tool/F535567">Joint statement in response to the inception impact assessments on a new competition tool and an ex ante regulatory instrument of very large online platforms acting as gatekeepers.</a> [991 words]</li>
<li><a href="https://www.communia-association.org/wp-content/uploads/2020/07/200702art17de-limits-of-filters.png">Flowchart on the the limits of automated blocking/removal of uploads in the German proposal to implement Article 17</a> [101 words]</li>
<li>COMMUNIA Salon 2020/3 on the German proposal to implement Article 17 of the DSM directive [<a href="https://vimeo.com/436178215">video</a> 0km]</li>
</ul>

				</div>
				
				<div class="entry-weekly">
					<h2>Week 26/2020</h2>
					<ul>
<li>Digital Freedom Fund: <a href="https://digitalfreedomfund.org/the-need-for-digital-rights-protections-in-upcoming-eu-competition-law-consultations/">The Need for Digital Rights Protections in Upcoming EU Competition Law Consultations</a> [936 words]</li>
<li>COMMUNIA webinar on implementation of Article 17 of the DSM directive: <a href="https://docs.google.com/presentation/d/1Is4DEcCmRapNG9gVFoYj-wXE9aAItD__7kC4wQpkIt8/edit#slide=id.g8aa5e7f867_1_0">How to best implement Article 17 and what we have so far learned from Member State</a> [0km]</li>
<li>COMMUNIA webinar on DSM implementation for cultural heritage institutions: <a href="https://docs.google.com/presentation/d/1E9988696lQXNM3_WNWE_8RbzJ5k9FwsXwNUpA5JC250/edit#slide=id.p1">Article 14 Visuals Artworks in the the Public Domain</a> [0km]</li>
<li>COMMUNIA website: <a href="https://www.communia-association.org/2020/06/24/article-17-implementation-german-proposal-strengthens-right-user-creators/">Article 17 implementation: German proposal strengthens the right of user and creators</a> [1279 words]</li>
<li>Open Future Sessions #3 (invitation-only series of conversations about the role of open under the conditions of the current crisis and the future of open in a post crisis world) [0km]</li>
</ul>

				</div>
				
				<div class="entry-weekly">
					<h2>Week 25/2020</h2>
					<ul>
<li><a href="/media/17.gif">Visualisation highlighting the selective implementation of Article 17 in the Dutch implementation law proposal</a> [168 words]</li>
<li><a href="https://docs.google.com/presentation/d/1s1bbg4tvJN_B2EcvqGDhGOjsbNwviUifSFT-bmrwIbM/edit?usp=sharing">Article 17: Filters vs User rights</a> - presentation at the COMMUNIA Salon 2020/2 on protecting freedom of expression via the pastiche exception [<a href="https://vimeo.com/431443829">video</a> 0km]</li>
</ul>

				</div>
				
				<div class="entry-weekly">
					<h2>Week 24/2020</h2>
					<ul>
<li>COMMUNIA website: <a href="https://www.communia-association.org/2020/06/12/filters-fail-meet-requirements-dsm-directive/">How Filters fail (to meet the requirements of the DSM directive)</a> [1498 words]</li>
<li>Open Future Sessions #2 (invitation-only series of conversations about the role of open under the conditions of the current crisis and the future of open in a post crisis world)[0km]</li>
<li>COMMUNIA website: <a href="https://www.communia-association.org/2020/06/09/member-states-watch-user-rights-safeguards-must-fully-implemented-national-laws/">Member States watch: User rights safeguards must be fully implemented into national laws</a> [873 words]</li>
<li><a href="https://www.communia-association.org/wp-content/uploads/2020/06/20200604-inbreng-behandeling-implementatie-artikel17.pdf">Aandachtspunten behandeling implementatiewetsvoorstel DSM richtlijn in de Tweede Kamer</a> - joint COMMUNIA and Bits of Freedom letter to members of the Commission for Justice and Legal affairs of the 2nd Chamber of the Dutch Parliament [2640 words]</li>
</ul>

				</div>
				
				<div class="entry-weekly">
					<h2>Week 23/2020 [12/🦠]</h2>
					<ul>
<li><a href="https://docs.google.com/presentation/d/1-PHWSQM6YMMzfSgWPQmVRhZMHpoezEpXDzgK-nrorYc/edit">Implementatie van de DSM richtlijn in NL - Erfgoedinstellingen, niet of niet meer in de handel zijnde werken en ECL</a>, presentation as part of the <a href="https://www.paoleiden.nl/cursusaanbod/2020/webinar-actualiteiten-auteursrecht-en-erfgoedinstellingen/">Webinar actualiteiten Auteursrecht en Erfgoedinstellingen</a> offered by the University of Leiden [0km]</li>
<li><a href="https://digitalfreedomfund.org/taking-the-competition-law-conversation-online/">Workshop  on competition law and digital rights</a>, 2 day training courtesy of the Digital Freedom Fund [<a href="https://video.leidenuniv.nl/media/t/1_ep2l4vrk">video</a> 0km]</li>
</ul>

				</div>
				
				<div class="entry-weekly">
					<h2>Week 22/2020 [11/🦠]</h2>
					<ul>
<li>Open Future Sessions #1 (invitation-only series of conversations about the role of open under the conditions of the current crisis and the future of open in a post crisis world)[0km]</li>
</ul>

				</div>
				
				<div class="entry-weekly">
					<h2>Week 21/2020 [10/🦠]</h2>
					<ul>
<li>COMMUNIA Salon 2020: Copyright in the DSM Directive – one year after [<a href="https://vimeo.com/419963831">video</a> 0km]</li>
</ul>

				</div>
				
				<div class="entry-weekly">
					<h2>Weeks 19-20/2020 [8-9/🦠]</h2>
					<p>🏝</p>

				</div>
				
				<div class="entry-weekly">
					<h2>Week 18/2020 [7/🦠]</h2>
					<ul>
<li>Shared Digital Europe: <a href="https://shared-digital.eu/as-predicted-the-new-press-publishers-right-is-a-failure-lets-make-information-aggregators-pay-news-media-producers-for-real/">The press publishers right will fail - to support the media we should tax information aggregators instead.</a> [1299 words]</li>
</ul>

				</div>
				
				<div class="entry-weekly">
					<h2>Week 17/2020 [6/🦠]</h2>
					<ul>
<li>Waag &amp; European Cultural Foundation workshop on European Online Public Spaces &amp; Pan-European Media [0km]</li>
</ul>

				</div>
				
				<div class="entry-weekly">
					<h2>Week 16/2020 [5/🦠]</h2>
					<ul>
<li>COMMUNIA website: <a href="https://www.communia-association.org/2020/04/15/better-way-implement-article-17-new-german-proposal-avoid-overblocking/">A better way to implement Article 17? New German proposal to avoid overblocking</a> [2051 words]</li>
</ul>

				</div>
				
				<div class="entry-weekly">
					<h2>Week 15/2020 [4/🦠]</h2>
					<ul>
<li><a href="https://www.veiligtegencorona.nl/">www.veiligtegencorona.nl</a> [+1 signature]</li>
</ul>

				</div>
				
				<div class="entry-weekly">
					<h2>Week 14/2020 [3/🦠]</h2>
					<ul>
<li>COMMUNIA website: <a href="https://www.communia-association.org/2020/04/02/article-17-stakeholder-dialogue-communia-input-paper/">Article 17 Stakeholder Dialogue input paper: Ensuring the protection of users’ rights in the Article 17 implementation guidelines</a> [3259 words]</li>
<li><a href="https://www.communia-association.org/wp-content/uploads/2020/04/200403-Joint-Letter-to-Dr-Francis-Gurry.pdf">Open Letter to WIPO Director General Francis Gurry: Intellectual Property and COVID-19</a> [+1 footnote]</li>
</ul>

				</div>
				
				<div class="entry-weekly">
					<h2>Week 13/2020 [2/🦠]</h2>
					<ul>
<li>📝 report/grant writing</li>
</ul>

				</div>
				
				<div class="entry-weekly">
					<h2>Week 12/2020 [1/🦠]</h2>
					<ul>
<li>Rightsstatements.org: <a href="https://rightsstatements.org/en/2020/03/adopting-the-rights-statements-in-india-a-report-on-the-national-workshop.html">Adopting the rights statements in India: A report on the national workshop</a> [1304 words]</li>
</ul>

				</div>
				
				<div class="entry-weekly">
					<h2>Week 11/2020</h2>
					<ul>
<li>Europeana Foundation Board meeting [102km]</li>
<li>COMMUNIA website: <a href="https://www.communia-association.org/2020/03/10/reserach-librarians-new-tdm-exception-can-undermined-technical-blocking-publishers/">Research Librarians: New TDM exception can be undermined by technical blocking from publishers</a> [598 words]</li>
</ul>

				</div>
				
				<div class="entry-weekly">
					<h2>Week 10/2020</h2>
					<ul>
<li>📝 report/grant writing</li>
</ul>

				</div>
				
				<div class="entry-weekly">
					<h2>Week 09/2020</h2>
					<ul>
<li>📝 report/grant writing</li>
</ul>

				</div>
				
				<div class="entry-weekly">
					<h2>Week 08/2020</h2>
					<ul>
<li>Shared Digital Europe: <a href="https://shared-digital.eu/new-eu-digital-strategy-towards-an-open-democratic-and-sustainable-society/">New EU digital strategy: Towards an open, democratic and sustainable society</a> [1476 words]</li>
<li>Meeting with MEP Axel Voss: <a href="https://shared-digital.eu/vision/">A Vision for a Shared Digital Europe</a> x <a href="https://www.axel-voss-europa.de/wp-content/uploads/2020/01/AVoss-Digital-Manifesto-2020-english-1.pdf">A manifesto for Europe’s digital sovereignty and geo-political competitiveness</a> [402km]</li>
</ul>

				</div>
				
				<div class="entry-weekly">
					<h2>Weel 07/2020</h2>
					<ul>
<li>COMMUNIA website: <a href="https://www.communia-association.org/2020/02/13/article-17-stakeholder-dialogue-day-6-hitting-brick-wall/">Article 17 stakeholder dialogue (day 6): Hitting a brick wall</a> [1669 words]</li>
<li>Sixth meeting of the <a href="https://ec.europa.eu/digital-single-market/en/news/sixth-meeting-stakeholder-dialogue-article-17-directive-copyright-digital-single-market">stakeholder dialogue on the application of Article 17 of the Directive on Copyright in the Digital Single Market</a>, representing COMMUNIA [<a href="https://webcast.ec.europa.eu/copyright-stakeholder-dialogues-10-02-2020">video</a>, 402km]</li>
</ul>

				</div>
				
				<div class="entry-weekly">
					<h2>Week 06/2020</h2>
					<ul>
<li><a href="https://www.tweedekamer.nl/kamerleden-en-commissies/commissies/tijdelijke-commissie-digitale-toekomst/symposium-tcdt-3-februari">Symposium with Margrete Vestager</a> organised by the temporary Commission on the Digital Future of the 2nd chamber of the Dutch Parliament [102km]</li>
<li>Séminaire pour la présentation de rapport intitulé : &ldquo;<a href="https://www.culture.gouv.fr/Sites-thematiques/Propriete-litteraire-et-artistique/Conseil-superieur-de-la-propriete-litteraire-et-artistique/Travaux/Missions/Mission-du-CSPLA-sur-les-outils-de-reconnaissance-des-contenus-proteges-par-les-plateformes-de-partage-en-ligne-etat-de-l-art-et-propositions">Vers une application effective du droit d’auteur sur les plateformes numériques de partage : état de l&rsquo;art et propositions sur les outils de reconnaissance des contenus</a>&rdquo; [402km]</li>
</ul>

				</div>
				
				<div class="entry-weekly">
					<h2>Week 05/2020</h2>
					<ul>
<li>Shared Digital Europe x Digital Society brainstorm at the Dutch Ministry of Finance [102km]</li>
</ul>

				</div>
				
				<div class="entry-weekly">
					<h2>Week 04/2020</h2>
					<ul>
<li>Computers, Privacy &amp; Data Protection Conference 2020: <a href="https://www.cpdpconferences.org/cpdp-panels/shared-digital-europe-a-vision-for-european-digital-policy-and-platform-regulation">Shared Digital Europe - a vision for European digital policy and platform regulation</a> [402km]</li>
<li>COMMUNIA website: <a href="https://www.communia-association.org/2020/01/21/article-17-stakeholder-dialogue-day-5-depends/">Article 17 stakeholder dialogue (day 5): It all depends</a> [1177 words]</li>
</ul>

				</div>
				
				<div class="entry-weekly">
					<h2>Week 02/2020</h2>
					<ul>
<li>Expert Workshop on Digital Transformation in Cultural Heritage, hosted by <a href="https://www.icf.com/">ICF</a> and DG CONNECT [402km]</li>
<li>COMMUNIA website: <a href="https://www.communia-association.org/2020/01/10/article-17-implementation-french-dutch-implementation-proposals-lack-key-user-rights-safeguards/">Article 17: Both French and Dutch implementation proposals lack key user rights safeguards</a> [1503 words]</li>
<li>Recommendations for Europeana: <a href="/files/200108rights_information_on_the_new_europeana_portal.pdf">Communicating rights information on the new Europeana Collections website</a> [1919 words]</li>
</ul>

				</div>
				
				<div class="entry-newyear">
					<h2>Week 01/2020</h2>
					<ul>
<li>COMMUNIA website: <a href="https://www.communia-association.org/2020/01/02/article-17-stakeholder-dialogue-day-4-transparency/">Article 17 stakeholder dialogue (day 4): it’s all about transparency</a> [1147 words]</li>
</ul>

				</div>